
body {
    color: brown;
    text-align: center;
}

button {
    background-color: chartreuse;
    color: black;
    padding: 8px 10px;
    border: 0;
}



.isdone {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

.done {
    background-color: green;
}

.notDone {
    background-color: red;
}